{% extends "impl.j2" %}

{% block summary %}
<p>
        Het applicatieprofiel OSLO-Verkeersmeldingen biedt een gedetailleerd kader voor het beschrijven van verkeersmeldingen en bijbehorende verkeersmeetgegevens, 
        gebruikmakend van een toepasselijk vocabularium, verrijkt met termen uit andere relevante vocabularia. 
        De kern van dit profiel is de verkeersmelding, die fungeert als centrale verbinding tussen publieke dienstverlening en verkeersinfrastructuur.
    </p>
    <p>
        In dit model zijn enkele belangrijke klassen opgenomen, zoals de klasse Observatie. 
        Observatie is ontworpen om informatie te verzamelen over een geobserveerd object dat door een melding als doelwit wordt beschouwd. 
        Het geobserveerde object kan verschillende vormen aannemen: een verkeersobject zoals een voertuig of verkeersborden, een verkeerssituatie zoals filevorming of sluipverkeer, en mobiliteitshinder, 
        zoals een afgesloten straat. Voor meer details, zie het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">OSLO-applicatieprofiel Observaties en Metingen</a>.
    </p>
    <p>
        Daarnaast kan de observatie betrekking hebben op verkeersmetingen, waarbij gegevens worden verzameld door sensoren volgens een vastgelegde observatieprocedure. 
        Deze procedure zorgt voor consistentie en nauwkeurigheid in het verzamelen van data. Elke observatie maakt deel uit van een observatieverzameling, 
        die een groter beeld van de verkeerssituatie biedt. Het model biedt flexibiliteit om diverse verkeerssituaties te accommoderen en heeft de potentie om 
        geïntegreerd te worden met contextuele data zoals camerabeelden, luchtvervuilingsmetingen en ongevallendata. 
        Zie ook het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/verkeersmetingen/">OSLO-applicatieprofiel Verkeersmetingen</a> voor aanvullende informatie.
    </p>
    <p>
        Bovendien kunnen observaties, meldingen en verkeersmetingen behandeld worden als een Zaak via het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dossier/">OSLO-Dossier</a>, 
        waardoor elke casus afzonderlijk opgevolgd kan worden. Dit model hergebruikt termen en constructies uit de Web Annotation Ontology en van het W3C, 
        zoals beschreven in de <a href="https://www.w3.org/">W3C-specificaties</a> en het <a href="https://www.w3.org/TR/annotation-vocab/">W3C Annotation Vocabulary</a>. 
        Dit maakt het mogelijk voor lokale besturen en andere stakeholders om systematisch verkeersproblemen en interventies te beheren.
    </p>
    <p>
        Tot slot ondersteunt dit applicatieprofiel niet alleen het beheer van verkeersinformatie en het verbeteren van de besluitvorming, 
        maar biedt het ook de mogelijkheid om beter geïnformeerde beslissingen te nemen en een efficiënter verkeersmanagement te realiseren, 
        in lijn met <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-mobiliteit/">OSLO-Besluit Mobiliteit</a>.
    </p>{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
