{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium heeft als doel de informatie te standaardiseren die gebruikt wordt binnen OSLO SIF, een smart city oplossing voor verkeersmanagement en -analyse.  
Het is generiek toepasbaar op verkeersgerelateerde data, maar werd specifiek ontwikkeld in de context van het OSLO-project om burgermeldingen te integreren met verkeersmetingen en contextuele data. 
Dit vocabularium zorgt voor een gemeenschappelijk begrip van essentiële informatie, zoals het type incident (bv. snelheidsinbreuk), locatie en tijd.  
Het doel is om de analyse van verkeersdata te verbeteren,  het mobiliteitsbeleid te ondersteunen en gerichte acties mogelijk te maken voor een veiliger en efficiëntere verkeersomgeving. 
De standaardisatie bevordert de interoperabiliteit tussen verschillende systemen en databronnen binnen OSLO SIF, en legt de basis voor toekomstige uitbreidingen en integraties.</p>
{% endblock %}
